<h1><%= @player_hand %></h1>


<h2>Player</h2>
<form action="blackjack/hit" method="post"><button name="player_action" value="hit" >Hit</button></form>
<form><button name="player_action" value="stay">Stay</button></form>
