<h1><%= @player_hand %></h1>
<h2>Player</h2>
<p>Bankroll: $<%= @bankroll %></p>
<p>value: <%= @player_value %></p>

<form action="/blackjack/hit" method="post">
  <button name="player_action" value="hit" >Hit</button>
  <button name="player_action" value="stay" action="/blackjack/stay">Stay</button>
</form>
<h2>Dealer</h2>
<%= @dealer_hand[0] %>